In [1]:
%matplotlib inline
import pandas as pd

In [7]:
cast = pd.read_csv('data/cast.csv.gz', compression='gzip')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [8]:
# automaticamente reconoce el año como una fecha
release_dates = pd.read_csv('data/release_dates.csv', 
                            parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
3                 #Horror  2015          USA 2015-11-20
4                 #Horror  2015           UK 2016-05-16

### Haz un gráfico de barras que indique el número de películas por mes con las películas que contienen "Christmas" en su titulo

### Construye un gráfico de barras con el día de la semana en que se lanzaron las películas con incluyen "Romance" en el título.