In [1]:
%matplotlib inline
import pandas as pd

In [3]:
titles = pd.read_csv('data/titles.csv.gz', compression='gzip')
titles.head()

                          title  year
0                 A Lélek órása  1923
1  Aizaugusa gravi viegli krist  1986
2                     Agliyorum  1988
3                         0_1_0  2008
4              97 fung lau mung  1994

In [4]:
cast = pd.read_csv('data/cast.csv.gz', compression='gzip')
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

### Usando groupby(), grafique el número de películas que se han lanzado durante cada década.

### Usando groupby() grafique el número de películas "Hamlet" realizadas en cada década.

### Usando pivot_table, cuántos roles principales habían disponible para actrices y actores en cada año de 1950s?

In [ ]:
# hint, puede usar aggfunc=len

### Definiendo un año "Superman" como los años donde el personaje Superman aparece más veces que Batman. ¿Cuántos años han sido los años de Superman?

### Y cuántos han sido los años de Batman?

### Grafique el número de actores y actrices para cada año.

In [ ]:
# hint: puede usar plot(..., xlim=[a, b]), donde a y b son los límites del eje x

### Lo mismo que antes, pero usando plot(..., kind='area').

### Grafique la diferencia entre número de roles de actores y actrices a través de los años..

### Grafique la fracción de roles de soporte (n=2) interpretados por actores (hombres) a través de la historia.

### Grafique la fracción de roles interpretados por actores (hombres) a través de la historia.